<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css"
		/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

		<link rel="stylesheet" href="app/public/css/style.css" />

		<title>Siemens EndPoints Documentation</title>
	</head>
	<body>
		<div class="container">
			<form action="">
				<label for="name">Nombre del producto</label>
				<input name="name" id="name" class="form-control" />

				<!-- <label for="thumbnail">miniatura</label> -->
				<input type="hidden" name="thumbnail" id="thumbnail" value="thumbnail.png" />

				<!-- <label for="img_presentation">imagen de precentación </label> -->
				<input type="hidden" name="img_presentation" id="img_presentation" value="img_presentation" />
				<label for="descripcion">Descripcion del producto</label>
				<textarea name="description" id="description" cols="30" rows="10" class="form-control"></textarea>
				<br />

				<label for="normatives">Normativas de producto</label>
				<select name="normatives" id="normatives" multiple data-live-search="true">
					<option value="">NOM</option>
					<option value="">no</option>
					<option value="">n</option>
				</select>
				<br />
				<br />
				<label for="types">Tipo de producto</label>
				<select name="types" id="types" multiple data-live-search="true"></select>
				<br />
				<br />

				<label for="areas"> Areas de aplicacion</label>
				<select name="areas" id="areas" multiple data-live-search="true"></select>
				<br />
				<br />

				<label for="features"> Atributos</label>
				<div class="form-group row">
					<div class="col-4">
						<input type="text" class="form-control" name="features_name" placeholder="valor" />
					</div>
					<div class="col-6">
						<textarea
							type="text"
							class="form-control"
							name="features_value"
							placeholder="Descripcion"
						></textarea>
					</div>
					<div class="col-2">
						<button type="button" class="btn btn-success btn-sm">Agregar</button>
					</div>
					<div class="col-12">
						<table class="table">
							<thead>
								<tr>
									<th>Valor</th>
									<th>Descripcion</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td scope="row">1</td>
									<td>valor</td>
									<td>Descripcion</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<hr />
				<label for="features"> Descargables</label>
				<div class="form-group row">
					<div class="col-3">
						<input type="text" class="form-control" name="downloads_name" placeholder="valor" />
					</div>
					<div class="col-5">
						<input
							type="text"
							class="form-control"
							name="downloads_description"
							placeholder="Descripcion"
						/>
					</div>
					<div class="col-3">
						<input type="text" class="form-control" name="downloads_url" placeholder="URL" />
					</div>
					<div class="col-1">
						<button type="button" class="btn btn-success btn-sm">Agregar</button>
					</div>
					<div class="col-12">
						<table class="table">
							<thead>
								<tr>
									<th>Valor</th>
									<th>Descripcion</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td scope="row">1</td>
									<td>valor</td>
									<td>Descripcion</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<button type="submit" class="btn btn-success">Guardar</button>
			</form>
		</div>

		<script>
			function async() {
				fetch;
			}
			$(document).ready(function () {
				$('select').selectpicker();
			});
		</script>
	</body>
</html>
